*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  overflow-y: scroll;
  background-color: white;
}

body::-webkit-scrollbar
{
  width: 0;
}


/* NAV */



/* nav
{
  background: black;
  width: 100%;
}

.logo
{
  text-align: center;
  color: white;
  padding: 20px 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo h1
{
  font-size: 45px;
}

ul
{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

ul li
{
  display: inline-block;
}

ul li a
{
  font-size: 17px;
  text-decoration: none;
  color: white;
  margin: 0 30px;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
} */


/* LANDING */
/* .landing
{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.landing-parent
{
  flex-wrap: wrap;
  width: 70%;
}

.landing-text
{
  color: white;
  margin-top: 20px;
}

.landing-text h3
{
  font-size: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
}

.landing-text h3 span
{
  color: red;
}

.point
{
  position: absolute;
  top: 300px;
  left: 35%;
}

.landing-text h1
{
  font-size: 170px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.landing-parent .landing-image
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.landing-parent .landing-image img
{
  position: absolute;
  top: 50%;
}

.leaf
{
  position: absolute;
  right: 50px;
}

.leaf1
{
  position: absolute;
  left: 50px;
}





@media screen and (max-width: 800px) {
  .landing-parent
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.landing-parent
{
  flex-wrap: wrap;
  width: 70%;
}

.landing-text
{
  color: white;
  margin-top: 20px;
  background: red;
}

.landing-text h3
{
  font-size: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
}

.landing-text h3 span
{
  color: red;
}

.point
{
  position: absolute;
  top: 300px;
  left: 35%;
}

.landing-text h1
{
  font-size: 170px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.landing-parent .landing-image
{
  width: 0%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.landing-parent .landing-image img
{
  position: absolute;
  top: 50%;
}

.leaf
{
  display: none;
  position: absolute;
  right: 50px;
}

.leaf1
{
  display: none;
  position: absolute;
  left: 50px;
}
} */